body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

.navigation {
    text-align: center;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background-color: #4565a0;
}

.khungChinh {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.PhimChucNang button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.PhimChucNang button:hover {
    background-color: #45a049;
}

input, select, textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f7f7f7;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 1px;
}

.cacPhimDangChieu, .cacPhimSapChieu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    margin: 10px;
    position: relative;
    padding-bottom: 50px; /* Thêm không gian cho nút sửa */
}

.movie img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.movie h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.movie p {
    margin: 5px 10px;
    font-size: 14px;
    color: #666;
}

.movie button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 5px;
}

.movie button:hover {
    background-color: #0056b3;
}
