.search_results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie {
    display: flex;
    width: 45%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.movie:hover {
    transform: scale(1.05);
}



.movie img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.movie_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.movie h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.movie p {
    margin: 0 0 10px 0;
    color: #666;
}

.movie a {
    color: #007bff;
    text-decoration: none;
    align-self: flex-start;
    font-weight: bold;
}

.movie a:hover {
    text-decoration: underline;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input[type="text"] {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 230px;
    padding-left: 40px;
}

.search-container button {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}